﻿@model SkillsMatrix.UI.Web.Models.TechViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model.DevTechs.Count > 0)
    {
    <h4>Registered Techs</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Tech</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var language in Model.DevTechs)
            {
                <tr>
                    <td>@language.Name</td>
                    <td>@language.Description</td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>
